.container{
    display: grid;
    background-color:white;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10fr 20fr 1fr;
    grid-template-areas:  
    'box1 box2 box3'
    'box4 box4 box4'
    'bottomline bottomline bottomline';
    gap: 1rem;
    width: 80rem;
    height: 50rem;
    row-gap: 1rem;
    column-gap: 1rem;
}
.box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: box1;
    background-color: rgb(57, 163, 149);
    width: auto;
    border: 0.5rem white solid;
}

.box2 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: box2;
   background-color: rgb(57, 163, 149);
    width: auto;
    border: 0.5rem white solid;
}

.box3 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: box3;
   background-color: rgb(74, 165, 153);
    width: auto;
    border: 0.5rem white solid;
}

.box4 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: box4;
    background-color: rgb(74, 165, 153);
    border: 0.5rem white solid;
}

.bottomline {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(136, 219, 88);
    padding: 1rem;
    position: relative;
    height: 2rem;
    bottom: 1rem;
    width: auto;
    grid-area: bottomline;
}

.triangle1 {
  width: 0;
  height: 0;
  border-left: 9rem solid transparent;
  border-right: 9rem solid transparent;
  border-bottom: 20rem solid rgb(136, 219, 88);
  z-index: 4;
  position: absolute;
    top: 25rem; 
    left: 60rem;
}
.triangle2 {
    width: 0;
  height: 0;
  border-left: 15rem solid transparent;
  border-right: 15rem solid transparent;
  border-bottom: 35rem solid darkgreen;
  z-index: 3;
  position: absolute;
    top: 10rem; 
    left: 40rem;
}

.largeyellowcircle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: yellow;
    width: 10rem;
    height: 10rem;
    z-index: 2;
    position: absolute;
    top: 3rem; 
    left: 15rem;

}

.smallyellowcircle {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: box4;
    border-radius: 50%;
    background-color: yellow;
    width: 3rem;
    height: 3rem;
    z-index: 2;
    position: absolute;
  top: 20rem; 
  left: 15rem;
}
.largeredcircle {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: box4;
    border-radius: 50%;
    background-color:darksalmon;
    width: 10rem;
    height: 10rem;
    z-index: 2;
    position: absolute;
    top: 10rem; 
    left: 25rem;
}
.smallredcircle1 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: box4;
    border-radius: 50%;
    background-color:darksalmon;
    width: 3rem;
    height: 3rem;
    z-index: 2;
    position: absolute;
    top: 3rem; 
    left: 3rem;
    }

.smallredcircle2 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: box4;
    border-radius: 50%;
    background-color:darksalmon;
    width: 3rem;
    height: 3rem;
    z-index: 2;
    position: absolute;
    top: 12rem; 
    left: 3rem;
    
}
.smallredcircle3 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: box4;
    border-radius: 50%;
    background-color:darksalmon;
    width: 3rem;
    height: 3rem;
    z-index: 2;
    position: absolute;
    top: 3rem; 
    left: 35rem;
    
}
@media (max-width:600px){
.container{
    width: 600px;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 400px 20px;
    grid-template-areas:  
    'box1 box2 box3'
    'box4 box4 box4'
    'bottomline bottomline bottomline';}
    
      }